* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Permanent Marker';
  margin: 0;
  background-size: cover;
  background-image: url(images/background.jpg);
  background-position: fixed;
  background-color: transparent;
}

header {
  margin-top: 25px;
  height:80px;
  margin-bottom: 60px;
  font-size: 20px;
  color: whitesmoke;
  text-align: center;
}

.quiz-body {
  display: flex;
  justify-content: left;
  width: 50%;
}

.score {
  text-align: center;
}

main {
    width: 50%;
    margin-left: 25%;
}

fieldset {
  width: 80%;
  padding: 40px;
  margin: 0 auto;
  background:rgba(208, 236, 175, 0.945);
  border-radius: 10px;
}

.images {
  width: 90%;
  max-width: 250px;
}

button {
  margin-top:10px;
  font-family: 'Permanent Marker';
  color: whitesmoke;
  font-size: 18px;
  background: rgb(2, 73, 34);
  border: 0;
  cursor: pointer;
  border-radius:3px;
  padding: 10px 20px;
}

button:hover {
    color: yellowgreen;
}